target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
nbactions.xml
nb-configuration.xml
mods/
/foo/nbproject/private/
/foo/build/
/bar/nbproject/private/
/bar/build/
/bar/dist/
/foo/dist/
nbproject
foo
bar
